.container{
	width: 100%;
	background-color: #fff;
}
/*左侧个人信息开始*/
.info{
	position: fixed;
	top: 80px;
	width: 35%;
	height: 600px;
}
nav{
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #fff;
	color: #fff;
}
nav ul{
	position: absolute;
	right: 30px;
}
nav ul li{
	display: inline;
	border: 1px solid rgb(185, 185, 185);
	margin: 0 15px;
	padding: 5px 10px;
	line-height: 50px;
	text-align: center;
	border-radius: 6px;
	cursor: pointer;
}
nav ul li:hover{
	border: 1px solid rgb(227, 227, 226);
	background-color: rgb(227, 227, 226);
}
nav ul li a{
		color: #000;
}
nav ul li a:visited{
	color: #000;
}
nav ul li a:focus{
	color: #000;
}
.bg-color{
	background-image: url(../image/bg1.jpg);
	background-size: 100%;
	background-position: 0% 0%;
	background-repeat: no-repeat;
}
.info-list{
	position: relative;
	width: 100%;
	height: 553px;
	margin:auto;
	background-color: rgba(24, 26, 28,0.7);
}
.info-list img{
	position: absolute;
	top: 100px;
	right: 50px;
	width: 130px;
	height: 130px;
}
.info-list section{
	position: absolute;
	top: 260px;
	right: 50px;
}
.info-list section p{
	color: rgb(149, 144, 143);
	font-family: Arial,Sans-serif;
	font-size: 20px;
	word-spacing: 2px;
	text-align: right;
	margin:10px 0;
}
.info-list section p span{
	color: #fff;
	cursor: pointer;
}
.info-list section p span:hover{
	color: rgb(73, 191, 157);
	cursor: pointer;
}
/*左侧个人信息结束*/

/*右侧博文开始*/
.right-sight{
	position: relative;
	left: 38%;
	width: 60%;
	height: 2000px;
	overflow: hidden;
}
.essay,.atcList,.upload_Box{
	position: absolute;
	top: 90px;
	width: 100%;
	height: 1050px;
	border: 1px solid rgb(214, 214, 214);
	-webkit-box-shadow:inset 0 0 10px rgb(92, 194, 111);  
  	   -moz-box-shadow:inset 0 0 10px rgb(92, 194, 111);  
 			box-shadow:inset 0 0 10px rgb(92, 194, 111); 
}
.atc_nav h2,.atcList h2{
	width: 150px;
	height: 48px;
	float: left;
	font-size: 20px;
	line-height: 48px;
	color: rgb(120, 120, 120);
}
.item,.album_pic{
	float: left;
	width: 300px;
	height: 300px;
	margin: 0 25px;
	border-radius: 5px;
}
.date{
	width: 300px;
	height: 200px;
	border: 1px solid rgb(188, 185, 181);
	border-radius: 5px;
	font-family: SimHei;
	color: rgb(60, 64, 63);
	text-align: center;
	margin-bottom: 20px;
	cursor: pointer;
	background: rgba(254, 213, 218,0.5);
	background: -webkit-linear-gradient(left,rgba(167, 148, 131,0.7),rgba(75, 66, 67,0.6));/*chrome,safari*/
	background: -moz-linear-gradient(left,rgba(167, 148, 131,0.7),rgba(75, 66, 67,0.6));/*firefox*/
	background: -o-linear-gradient(left,rgba(167, 148, 131,0.7),rgba(75, 66, 67,0.6));/*opera*/
	background: linear-gradient(left,rgba(167, 148, 131,0.7),rgba(75, 66, 67,0.6));

}
section.item p,.album_pic p{
	margin: 10px 5px;
	font-family: SimHei;
}
section.item p:nth-child(2){
	font-size: 20px;
}
section.item p:nth-child(3){
	font-size: 14px;
}
div.date span{
	display: block;
	overflow: hidden;
}
div.date span:first-child{
	font-size: 100px;
}
div.date span:last-child{
	font-size: 28px;
}
div.page{
	margin-top: 15px;
}
.pagination{
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
	clear: left;
	font-size: 16px;
}
.pagination li{
	display: inline;
	border: 1px solid rgb(221, 221, 221);
	padding: 5px 10px;
	background-color: #fff;
	cursor: pointer;
}
.pagination li a{
	color: rgb(167, 1, 91);
	font-weight: bold;
}
.disable{

}
.pagination li.active{
	background-color: rgb(208, 208, 208);
}
.pagination li:hover{
		background-color: rgb(208, 208, 208);
}






/*右侧博文结束*/
