<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的后台页面</title>
	<link rel="stylesheet" href="../css/default.css">
	<link rel="stylesheet" href="../css/index.css">
	<link rel="stylesheet" href="../css/houtai.css">
</head>
<body>
	<div class="container">
		<div class="info">
			<nav>
				<ul>
					<li><a href="#">主页</a></li>
					<li><a href="#">博文管理</a></li>
					<li><a href="#">图册管理</a></li>
					<li><a href="#">视频管理</a></li>
				</ul>
			</nav>
			<div class="bg-color">
				<div class="info-list">
					<div>
					<img class="toux" src="../image/toux.jpg" alt="我的头像">
					<section>
						<p>My name is <span>Yuhong He</span></p>
						<p>Too young too simple</p>
						<p>Live beautifully, love completely</p>
						<p>You can go as far as your mind lets you</p>
					</section>
					</div>
				</div>
			</div>
		</div>

		<div class="right-sight">
			<form id="uploadForm" action="" method="post" enctype="multipart/form-data">
					<div class="upload_Box">
						<div class="upload_Main">
							<div class="upload_choose">
								<input type="file" id="fileimage" name="fileselect[]" mutiple>
							</div>
							<div id="preview" class="upload_preview"></div>
						</div>
					
						<div class="btn">
							<input type="submit" value="确认上传" id="fileSubmit" class="upload_submit_btn">
						</div>
					</div>
				</form>

		</div>





	<script type="text/javascript" src=""></script>
</body>
</html>





